/* Force light mode regardless of system preferences */
html {
  background-color: white;
}

/* If the system is in dark mode, override it with light mode */
@media (prefers-color-scheme: dark) {
  html {
    background-color: white;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
}
